.post__nav{
    display: flex;
    gap:12px;
    margin: 0 auto;
    max-width: 680px;
    font-size:16px;
    color:gray;
    cursor: pointer;
    padding:50px 20px 0 0;
  }
   .post__nav--active{
    color: black;
    font-weight: 600;
   }