.post__nav{
    display: flex;
    gap:30px;
    margin: 0 auto;
    max-width: 1450px;
    font-size:1.5rem;
    color:#ffffff;
    cursor: pointer;
    padding:20px 20px 20px 0;
  }
   .post__nav--active{
    color: #FB7B6A;
    font-weight: 600;
   }